<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title> SISTEMA DE ENCUESTAS</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">SISTEMA DE ENCUESTAS  </ion-title>
    </ion-toolbar>
  </ion-header>

 


  <ion-header>
    <ion-toolbar>
      <ion-title>Iniciar Sesión</ion-title>
      
    </ion-toolbar>
  </ion-header>
  
  <ion-content class="INICIO">
    
      <ion-item>
        <ion-label position="floating">Usuarios</ion-label>
        <ion-input type="usuario" name="usuario" color="success" required></ion-input>
        
      </ion-item>

     
  
      <ion-item>
        <ion-label position="floating">Contraseña</ion-label>
        <ion-input type="password"  name="password"  color="success" required></ion-input>
      </ion-item>
  
      <ion-button expand="full"   [routerLink]="['/principal']"     type="submit">Conectarse</ion-button>
 
  </ion-content>
</ion-content>

