<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>REGISTRO DE PERFIL</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">perfilregistro</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-item>

    <ion-label position="floating">ID </ion-label>
    <ion-input type="usuario" name="usuario" color="success" required></ion-input>
    
  </ion-item>

  <ion-item>
    <ion-label position="floating">estado del perfil</ion-label>
    <ion-input type="usuario" name="usuario" color="success" required></ion-input>
    
  </ion-item>

 


  <ion-button expand="full"    type="submit">Guardar</ion-button>







</ion-content>
